<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Mailings</title>
</head>

<body>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>

    <div id="app">
        <div class="w-full p-4">
            <h1 class="text-2xl font-bold mb-4">Gerador de Mailings</h1>
            <p class="mb-6">Selecione as opções abaixo e clique em "Executar":</p>
        </div>

        <form @submit.prevent="executar" class="">
            <div id="form-gp1" class="flex justify-center space-x-10">
                <div id="localidade" class="space-y-6">
                    <!-- Estado -->
                    <div>
                        <label for="estado" class="block mb-2 font-semibold">Qual Estado?</label>
                        <select id="estado" v-model="formData.estados" multiple class="w-full p-2 border rounded">
                            <!-- Estados do Brasil -->
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>

                    <!-- Cidade -->
                    <div>
                        <label for="cidade" class="block mb-2 font-semibold">Qual Cidade? Utilize ";" para mais de uma
                            opção.</label>
                        <input type="text" id="cidade" v-model="formData.cidades" class="w-full p-2 border rounded">
                    </div>
                </div>

                <div id="telefonia" class="space-y-6">
                    <!-- Repetição -->
                    <fieldset class="border p-4 rounded">
                        <legend class="font-semibold">Repetição de número?</legend>
                        <div class="card flex flex-wrap justify-center gap-4">
                            <div class="flex items-center gap-2">
                                <div class="">
                                    <checkbox v-model="formData.repeticoes" inputId="check1" value="1" />
                                </div>
                                <span>1</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="">
                                    <checkbox v-model="formData.repeticoes" inputId="check2" value="2" />
                                </div>
                                <span>2</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="">
                                    <checkbox v-model="formData.repeticoes" inputId="check3" value="3" />
                                </div>
                                <span>3</span>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Tipo de Telefone -->
                    <fieldset class="border p-4 rounded">
                        <legend class="font-semibold">Tipo de telefone?</legend>
                        <div class="card flex flex-wrap justify-center gap-4">
                            <div class="flex items-center gap-2">
                                <div class="">
                                    <Checkbox v-model="formData.tiposTelefone" inputId="fixa" value="FIXO" />
                                </div>
                                <span>Fixa</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="">
                                    <Checkbox v-model="formData.tiposTelefone" inputId="movel" value="CELULAR" />
                                </div>
                                <span>Móvel</span>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Operadora -->
                    <div>
                        <label for="operadora" class="block mb-2 font-semibold">Operadora?</label>
                        <select id="operadora" v-model="formData.operadoras" multiple class="w-full p-2 border rounded">
                            <option value="VIVO">VIVO</option>
                            <option value="TIM">TIM</option>
                            <option value="CLARO">Claro</option>
                            <option value="OI">Oi</option>
                            <option value="Algar">Algar</option>
                        </select>
                    </div>
                </div>

                <div id="empresa" class="space-y-6">
                    <!-- CNAE -->
                    <div>
                        <label for="cnae" class="block mb-2 font-semibold">CNAE? Utilize ";" para mais de uma
                            opção.</label>
                        <input type="text" id="cnae" v-model="formData.cnaes" class="w-full p-2 border rounded">
                    </div>

                    <!-- Natureza Jurídica -->
                    <div>
                        <label for="natureza" class="block mb-2 font-semibold">Natureza Jurídica?</label>
                        <select id="natureza" v-model="formData.naturezas" multiple class="w-full p-2 border rounded">
                            <option value="ASSOCIACAO PRIVADA">ASSOCIACAO PRIVADA</option>
                            <option value="MEI">MEI</option>
                            <option value="ME">ME</option>
                            <option value="LTDA">LTDA</option>
                            <option value="CONDOMINIO EDILICIO">CONDOMINIO EDILICIO</option>
                            <option value="OUTROS">Outros</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="my-12"></div>

            <div id="form-gp2" class="flex-col justify-center items-center text-center">
                <!-- Loading -->
                <div v-show="isLoading" class="w-full text-blue-500 font-semibold mb-4">
                    Carregando...
                </div>

                <!-- Botões -->
                <div class="flex justify-center space-x-4">
                    <button type="button" @click="testDB"
                        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                        Testar Conexão
                    </button>

                    <button type="button" @click="exportCSV"
                        class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">
                        Exportar CSV
                    </button>

                    <button type="button" @click="exportXLSX"
                        class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">
                        Exportar XLSX
                    </button>

                    <button type="button" @click="clear"
                        class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600">
                        Limpar
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script>
        const { createApp, ref, reactive, onMounted } = Vue;

        const app = createApp({
            setup() {
                const isLoading = ref(false);

                // Estado reativo
                const formData = reactive({
                    estados: [],
                    cidades: '',
                    repeticoes: [],
                    tiposTelefone: [],
                    operadoras: [],
                    cnaes: '',
                    naturezas: []
                });

                // Métodos
                const testDB = async () => {
                    try {
                        const response = await axios.get('/test-db');
                        alert(response.data.message);
                    } catch (error) {
                        // console.error('Erro na conexão:', error);
                        alert('Erro na conexão!');
                    }
                };

                const executar = async () => {
                    const body = {
                        estado: formData.estados,
                        cidade: formData.cidades.split(';').filter(Boolean),
                        repeticao: formData.repeticoes,
                        tipoTelefone: formData.tiposTelefone,
                        operadora: formData.operadoras,
                        cnae: formData.cnaes.split(';').filter(Boolean),
                        natureza: formData.naturezas
                    };

                    try {
                        if (body.estado.length === 0 && body.cidade.length === 0 && body.repeticao.length === 0 && body.tipoTelefone.length === 0 && body.operadora.length > 0) {
                            alert('Preencha todos os campos!');
                            return null; // Retorna null se os campos não estiverem preenchidos
                        } else {
                            const response = await axios.post('/executar', body);
                            return response.data; // Retorna os dados da resposta
                        }
                    } catch (error) {
                        alert('Erro na requisição!');
                        console.error('Erro na requisição:', error);
                        return null; // Retorna null em caso de erro
                    }
                };

                const exportCSV = async (event) => {
                    event.preventDefault();
                    isLoading.value = true; // Inicia o loading

                    const mailing = await executar();
                    if (!mailing) {
                        isLoading.value = false; // Para o loading se não houver dados
                        return; // Retorna se não houver dados
                    }

                    try {
                        const response = await fetch('/exportar-csv', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(mailing) // Converte para JSON
                        });

                        if (response.ok) {
                            const blob = await response.blob();
                            const url = window.URL.createObjectURL(blob);
                            const a = document.createElement('a');
                            a.href = url;
                            a.download = 'mailing.csv';
                            document.body.appendChild(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                        } else {
                            const errorData = await response.json();
                            alert('Erro ao exportar os dados!');
                            console.error('Erro ao exportar:', errorData);
                        }
                    } catch (error) {
                        alert('Erro!');
                        console.error('Erro:', error);
                    } finally {
                        isLoading.value = false; // Para o loading
                    }
                };

                const exportXLSX = async (event) => {
                    event.preventDefault();
                    isLoading.value = true; // Inicia o loading

                    const mailing = await executar();
                    if (!mailing) {
                        isLoading.value = false; // Para o loading se não houver dados
                        return; // Retorna se não houver dados
                    }

                    try {
                        const response = await fetch('/exportar-xlsx', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(mailing) // Converte para JSON
                        });

                        if (response.ok) {
                            const blob = await response.blob();
                            const url = window.URL.createObjectURL(blob);
                            const a = document.createElement('a');
                            a.href = url;
                            a.download = 'mailing.xlsx';
                            document.body.appendChild(a);
                            a.click();
                            a.remove();
                            window.URL.revokeObjectURL(url);
                        } else {
                            const errorData = await response.json();
                            alert('Erro ao exportar os dados!');
                            console.error('Erro ao exportar:', errorData);
                        }
                    } catch (error) {
                        alert('Erro!');
                        console.error('Erro:', error);
                    } finally {
                        isLoading.value = false; // Para o loading
                    }
                };


                const clear = async (event) => {
                    event.preventDefault();
                    window.location.reload();
                }

                // Expor para o template
                return {
                    isLoading,
                    formData,
                    clear,
                    testDB,
                    executar,
                    exportCSV,
                    exportXLSX
                };
            }
        })

        app.use(PrimeVue.Config, { theme: { preset: PrimeVue.Themes.Aura } });
        app.component('checkbox', PrimeVue.Checkbox);
        app.mount('#app');
    </script>
</body>

</html>